body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400; /*400 regular 500 medium 600 semi-bold*/
    color: rgba(51, 50, 50, 1);
    background-color: rgba(255, 255, 255, 0.90);
}
.wrapper {
    max-width: 1200px;
    margin: 0px auto;
    overflow: visible;
    max-height = 100%;
    display: flex;
    flex-direction: column;
}
/*--------------------------------container-------------------------------------*/
._container{
    position: relative;
    display: flex;
    max-width: 1196px;
    min-height: 104px;
    align-items: center;
    margin: 0px auto;
}
@media(max-width: 479px){
    ._container{min-height: 85px;}
}
._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.button{
    /*button*/
    width: 100%;
    height: 100%;
    padding: 0 0px;
    background-color: #DD4C71;
    border-radius: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;

    /*text*/
    color: white;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    text-decoration: none !important;

    position: absolute;
    left: 0px;
    z-index: 1;
}
/*-------------------------------header-------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header_logo{
    font-size: 24px;
    font-weight: 600;
    color: rgba(115, 39, 173, 1);
    text-decoration: none !important;
}
.header_logo_img {
    display: block;
    max-width: 24px;
    max-height: 24px
    margin-left: 11px;
    margin: 0px 0px 0px 11px;
}
.header_menu{
    margin: 0px 0px 0px 438px;
    padding: 5px 0;
}
/*---------------------------------navigation-------------------------------------*/
.menu_list{
    flex-wrap: wrap;
    display: flex;
}

.menu_item{

}

.menu_item:not(:last-child){
    margin: 0px 56px 0px 0px;
}
.menu_link{
    color: #333232;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    text-decoration: none !important;
}

/*-------------------------------main-----------------------------------------*/
.main{
    flex 1 1 auto;
}
.main__main-block{
    overflow: visible;
}
/*-------------------------------main block-----------------------------------------*/
#Home {
    padding: 50px 0;
    text-align: center;
}

.main-block{
    position: relative;
}
.main-block__container {
    position: relative;
    z-index: 1;
}
.main-block__body{
    padding: 116px 0px 150.66px 0px;
    position: relative;
    z-index: 2;
}
.main-block__title{
    margin-top: -105px;
    margin-bottom: 9px;
    font-size: 54.17px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 0.54px;
    word-wrap: break-word;
    text-align: left;
}
.main-block__title_text{
    font-size: 54.17px;
    margin-bottom: 9px;
    font-weight: 400;
    text-align: left;
}
.main-block__text{
    color: #545454;
    font-size: 18px;
    font-weight: 400;
     margin-bottom: 69px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;
}
.main-block__text2{
    color: #545454;
    font-size: 18px;
    font-weight: 400;
     margin-bottom: 69px;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: left;
    display:none;
}

.main-block__buttons{
}

.button-main{
    width: 223px;
    height: 57px;
}

.main-block__image{
    position: absolute;

    top: 0;
    left: 0;
    margin: -50px 0px 0px 492px;
    top: 0;
    z-index: 1;
}
.main-block__waves {
    position: absolute;
    margin: -265px 30px 309px -110px;
    z-index: 0;
}

.main-block__paint {
    position: absolute;
    top: 0;
    margin: 0px 0px 60px -150px;
    left: 35px;
    z-index: -1;
}
.main-block__green_wave{
    position: absolute;
    max-width: 1037.13px;
    max-height: 116.03px;
    margin: -105px 0px 0px 295px;
    z-index: -1;
}

/*---------------------------About us------------------------------------------*/
#About\ us {
    margin-top: 150px;
    scroll-margin-top: -270px;
    text-align: center;
}

.list-block{
    width: 224px;
    height: 200px;
    margin: 0 auto;
}
.title-text_block{
    width: 710px;
    margin: 0 auto;
}
.about-us__title{
    margin-top: 150px;
    color: #333232;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
}
.about-us__text{
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.5;
    margin-bottom: 83px;
}

.about-us_list{
    flex-wrap: wrap;
    display: flex;
}

.about-us__item-image{
    margin-bottom: 10px;
}
.about-us_list:not(:last-child){
    margin: 0px 0px 50px 0px;
}

.button-about{
    width: 251px;
    height: 57px;
    margin-top: 90px;
    margin-left: 470px;
    margin-right: 651px;
    margin-bottom: 138px;
    display: flex;

    justify-content: center;
}
/*-------------------------------Gallery-----------------------------------------*/
#Gallery {
    text-align: center;
    scroll-margin-top: -110px;
}
.curves{
    margin: 0px 0px 0px -100px;
}

.gallery-block{
    width: 1195px;
    height: 150px;
    margin: 0 auto;
}
.gallery-image{
}
.gallery-image:not(:first-child) {
    margin: 0px 0px 0px 15px;
}
.gallery-title{
    color: #333232;
    margin-top: 200px;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
}
.gallery-text{
    color: #545454;
    font-size: 18px;
    margin-top: -23px;
    margin-bottom: 33px;
    font-weight: 400;
    word-wrap: break-word;
}
/*-------------------------------Services-----------------------------------------*/
#Services {
    padding: 50px 0;
    text-align: center;
}
.services-title{
    color: #333232;
    font-size: 36px;
    margin-bottom: 71px;
    margin-top: -105px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
}
.services-list{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.services-block{
    width: 1085px;
    justify-content: center;
}
.title-text_block{
}
.service-block{
    width: 345px;
    height: 493px;
    background: #FDE3E3;
    border-radius: 10px;
    text-align: left;
}

.service-block{
    margin: 0px 0px 10px 20px;
}

.services__title-text{
    color: #333232;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word;
}
.services__item_text{
    min-height: 120px;
    color: #5A4B4B;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}

.button_block{
    position: absolute;
    width: 305px;
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-service{
    width: 224px;
    height: 57px;
    position: relative;
}
.services__item-image{
    margin-bottom: 20px;
}
.content-block{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 305px;
    height: 335px;
}
.button-block{
    margin-top: auto;
    width: 314px;
    height: 137px;
    display: flex;
}
/*-------------------------------Contact us-----------------------------------------*/
#ContactUs {
    padding: 50px 0;
    scroll-margin-top: -110px;
    text-align: center;
}
.curves_contact{
    margin: -200px 0px 200px -150px;
}
.contact-container{
}
.content{
    color: #545454;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    text-decoration: none !important;
    align-items: left;
    align-text: left;
    margin-top: 20px;
}

.contact_block:not(:last-child) {
    margin: 0px 0px 25px 0px;
}

.contact-title{
    color: #333232;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 0.36px;
    word-wrap: break-word;
    margin-bottom: 26px ;
}
.contact-list {
    width: 264px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin-right: 170px;
    margin-top: 20px;
}
.contact_item{
}

.map_block {
    width: 467px;
    height: 300px;
}

.left_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 150px;
}

.left_block > div {
    width: 467px;
    height: 300px;
    text-align: left;
    margin-right: 20px;
}

/*-------------------------------footer-----------------------------------------*/
.footer {
    min-width: 1440px;
    margin-top: -100px;
    margin-left: -130px;
    background-color: rgba(118, 71, 154, 1);
    padding: 20px 0;
    text-align: center;
}
.footer-container {
    height: 342px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-left_contacts-footer {
    width: 367px;
    height: 278px;
    margin-bottom: 50px;
    margin-left: 122px;
}

.col-right_explore-footer {
    width: 300px;
    height: 278px;
    margin-left: 50px;
}

.col-rights {
    width: 169px;
    height: 82px;
    margin-top: 260px;
    margin-right: 122px;

    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
}
.footer-content{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    text-decoration: none !important;
    text-align: left;
}

.footer_logo{
    color: rgba(255, 255, 255, 0.90);
    font-size: 24px;
    font-weight: 600;
    margin-right: 240px;
    word-wrap: break-word;
    text-decoration: none !important;
    text-align: left;
}

.footer_link{
    color: white;
    font-size: 18px;
    font-weight: 500;

    word-wrap: break-word;
    text-decoration: none !important;
}


/*-------------------------------Responsive-----------------------------------------*/
@media (max-width: 1440px){
/*-------------------------------important parts-----------------------------------------*/
    .wrapper {
        max-width: 100%;
        overflow: visible;
    }

    .header_logo{
        margin-left: 15px;
    }
    ._container {
        max-width: 100%;
    }
/*-------------------------------main block-----------------------------------------*/

    .main-block__title{
       margin-left: 10px;
    }

    .main-block__title_text{
        margin-left: 10px;
    }
    .main-block__text{
        margin-left: 10px;
    }
    .button-main{
        width: 223px;
        height: 57px;
        left: 10%;
    }

    .list-block{
    width: 224px;
    height: 200px;
    margin: 0 auto;
}
.title-text_block{
    width: 710px;
    margin: 0 auto;
}
/*-------------------------------about us-----------------------------------------*/
    .about-us__title{
        margin-left: 15px;
    }
    .about-us__text{
        margin-left: 150px;
        margin-right: 150px;
    }

    .about-us_list{
        flex-wrap: wrap;
        display: flex;
        margin-left: 100px;

    }
    .about-us-block{
        margin-left: 60px;
    }
    .button-about{
        width: 251px;
        height: 57px;
        margin-top: 90px;
        margin-left: 470px;
        margin-right: 651px;
        margin-bottom: 138px;
        display: flex;

        justify-content: center;
    }

    .about-us_item{

    }
    .about-us__item-image{
        margin-bottom: 10px;
    }
    .about-us_list:not(:last-child){
        margin: 0px 0px 50px 0px;
    }

    .about-us__title-text{
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        word-wrap: break-word;
        line-height: 1.5;
    }
    .about-us__item_text{
        color: #838382;
        font-size: 16px;
        font-weight: 400;
        word-wrap: break-word;
        line-height: 1.5;
    }
    .button-about{
        left: -6%;
    }
/*-------------------------------Services-----------------------------------------*/
    #Services {
        padding: 50px 0;
        text-align: center;
    }
    .services-list{
        justify-content: center;
        margin-left: 40px;
    }
    .services-block {
        width: 100%;
        max-width: 1085px;
        margin: 0 auto;

        justify-content: center;
    }
    .title-text_block{
    }
    .service-block{
        margin: 0px 0px 10px 20px;
    }

    .services__title-text{
        color: #333232;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        word-wrap: break-word;
    }
    .services__item_text{
        min-height: 120px;
        color: #5A4B4B;
        font-size: 16px;
        font-weight: 400;
        word-wrap: break-word;
    }

    .button_block{
        position: absolute;
        width: 305px;
        height: 119px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-service{
        width: 224px;
        height: 57px;
        position: relative;
    }
    .services__item-image{
        margin-bottom: 20px;
    }
    .content-block{
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        width: 305px;
        height: 335px;
    }
    .button-block{
        margin-top: auto;
        width: 314px;
        height: 137px;
        display: flex;
    }
    .services-title{
       margin-left: 100px;
    }
 /*-------------------------------gallery-----------------------------------------*/
    .gallery-block {
        text-align: center;
        margin-left: 40px;
    }
    .gallery-title{
        margin-left: 50px;
    }
    .gallery-text{
     margin-left: 50px;
    }
    /*-------------------------------Contact us-----------------------------------------*/

    .contact_block:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
    .contact-list {
        width: 300px;
        margin: 0 auto;
        margin-right: 250px;
        margin-left: -30px;
    }

    .map_block {
        width: 467px;
        height: 300px;
    }
    /*-------------------------------footer-----------------------------------------*/
    .footer-container {
        height: 242px;
        margin: 0 auto;
        margin-left: 70px;
    }
    .col-left_contacts-footer {
        margin-bottom: -15px;
    }
    .col-right_explore-footer {
        margin-top: 30px;
        margin-left: 200px;
    }
    .footer_item{
        margin-top: 10px;
    }
    .col-rights {
        width: 169px;
        height: 82px;
        margin-top: 260px;
        margin-right: 122px;
        margin-bottom: 10px;
    }
}
@media (max-width: 890px){
/*---------------------------About us------------------------------------------*/

    .about-us_list{
        flex-wrap: wrap;
        margin-left: 50px;
        display: flex;
        margin-bottom: 20px;
    }
    .button-about{
        width: 251px;
        height: 57px;
        justify-content: center;
        margin: 0 auto;
        left: 33%;
    }
    .about-us__item-image img{
        margin-bottom: 0px;
    }

    .about-us_item {
        width: calc(50% - 10px);
    }
    .about-us__item_text{
       align-items: center;
       margin-right: 50px;
       margin-left: 50px;
    }
}
@media (max-width: 1024px){
/*-------------------------------important parts-----------------------------------------*/
    .wrapper {
        max-width: 100%;
        overflow: hidden;
    }

    .header_logo{
        margin-left: 10px;
    }
    ._container {
        max-width: 100%;
    }
 /*-------------------------------main block-----------------------------------------*/
    #Home {
        padding: 50px 0;
        text-align: center;
    }

    .main-block{
        position: relative;
    }
    .main-block__container {
        position: relative;
        z-index: 1;
    }
    .main-block__body{
        padding: 116px 0px 150.66px 0px;
        position: relative;
        z-index: 2;
    }
    .main-block__title{
       margin-left: 10px;
    }

    .main-block__title_text{
        margin-left: 10px;
    }
    .main-block__text{
        margin-left: 10px;
    }
    .button-main{
        width: 223px;
        height: 57px;
        left: 10%;
    }
    /*-------------------------------aboutus-----------------------------------------*/
    .button-about{
        width: 251px;
        height: 57px;
        justify-content: center;
        margin: 0 auto;
        left: 38%;
    }
     /*-------------------------------gallery-----------------------------------------*/

    /*-------------------------------footer-----------------------------------------*/
    .footer-container {
        height: 242px;
        margin: 0 auto;
        margin-left: 50px;
    }
    .col-left_contacts-footer {
        margin-bottom: -15px;
    }
    .col-right_explore-footer {
        margin-top: 30px;
    }
    .footer_item{
        margin-top: 10px;
    }
    /*-------------------------------Contact us-----------------------------------------*/

    .contact_block:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
    .contact-list {
        width: 300px;
        margin: 0 auto;
        margin-right: 50px;
        margin-left: -30px;
    }

    .map_block {
        width: 467px;
        height: 300px;
    }
    /*-------------------------------gallery-----------------------------------------*/

    .gallery-image:nth-last-child(-n+2) {
    display: none;
    }
    .gallery-block {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 800px) {
    /*-------------------------------important parts-----------------------------------------*/
    .wrapper {
        max-width: 100%;
        overflow: hidden;
    }

    .header_logo{
        margin-left: 10px;
    }
    ._container {
        max-width: 100%;
    }

    .header_menu {
        display: none;
    }

    .main-block__image,
    .main-block__green_wave {
        display: none;
    }

    /*-------------------------------main block-----------------------------------------*/
    #Home {
        padding: 50px 0;
        text-align: center;
    }

    .main-block{
        position: relative;
    }
    .main-block__container {
        position: relative;
        z-index: 1;
    }
    .main-block__body{
        padding: 116px 0px 150.66px 0px;
        position: relative;
        z-index: 2;
    }
    .main-block__title{
        text-align: center;
    }

    .main-block__title_text{
        font-size: 36px;
        text-align: center;
    }
    .main-block__text{
        display: none;
    }
    .main-block__text2{
        display: block;
        text-align: center;
    }

    .main-block__buttons {
        position: absolute;
        top: 70%;
        left: 30%;
    }

    .button-main {
        width: 223px;
        height: 57px;
    }
    /*---------------------------About us------------------------------------------*/
    #About\ us {
        margin-top: 0px;
        scroll-margin-top: -270px;
        text-align: center;
    }

    .list-block{
        width: 224px;
        height: 200px;
        margin-bottom:20px;
    }
    .title-text_block{
        width:  100%;
        margin: 0 auto;
        text-align: center;
    }
    .about-us__title{
        text-align: center;
    }
    .about-us__text{
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about-us_list{
        flex-wrap: wrap;
        display: block;
    }

    .button-about{
        width: 251px;
        height: 57px;
        justify-content: center;
        margin: 0 auto;
        left: 33%;
    }
    .about-us_item{

    }
    .about-us__item-image{
        margin-bottom: 10px;
    }
    .about-us_list:not(:last-child){
        margin: 0px 0px 60px 0px;
    }
    .about-us__item-image img{
        margin-bottom: 0px;
    }

    .about-us_item {
        width: 300px;
    }
    .about-us__item_text{
       align-items: center;
       margin-right: 0px;
       margin-left: 0px;
    }
    /*-------------------------------Gallery-----------------------------------------*/
    #Gallery {
        text-align: center;
        scroll-margin-top: -110px;
    }
    .curves{
        margin: 0px 0px 50px -50px;
    }

    .gallery-block {
        width: 250px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .gallery-image:not(:first-child) {
        margin: 10px 0px 0px 0;
    }
/*-------------------------------Services-----------------------------------------*/
    #Services {
        padding: 650px 0;
        text-align: center;
    }

/*-------------------------------Contact us-----------------------------------------*/
    #ContactUs {
        padding: 0px 0;
        scroll-margin-top: -110px;
        text-align: center;
    }
    .curves_contact{
        margin-bottom: 200px;
    }
    .contact-container{
        margin-top: -450px;
    }
    .contact_block:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
    .contact-list {
        width: 300px;
        margin: 0 auto;
    }
    .map_block {
        width: 467px;
        height: 300px;
        display: none;
    }
/*-------------------------------footer-----------------------------------------*/
    .footer {
        max-width: 100%;
        margin-top: -150px;
        margin-left: -130px;
    }
    .footer-container {
        height: 242px;
        margin: 0 auto;
    }
    .col-left_contacts-footer {
        margin-bottom: -15px;
    }

    .col-right_explore-footer {
        display: none;

    }
    .col-rights {
        font-size: 16px;
    }
    .footer_logo{
        font-size: 20px;
        margin-right: 200px;
        margin-left: 22px;
    }

    .footer_link{
        color: white;
        font-size: 18px;
    }

}
@media (max-width: 690px){
    .button-about{
        left: 25%;
    }
}
@media (max-width: 376px) {
    /*-------------------------------header-----------------------------------------*/
    .wrapper {
        max-width: 100%;
        overflow: hidden;
    }

    ._container {
        max-width: 100%;
    }

    .header_menu {
        display: none;
    }

    .main-block__image,
    .main-block__green_wave {
        display: none;
    }
    /*-------------------------------main block-----------------------------------------*/
    .main-block__title{
        font-size: 36px;
    }
    .main-block__title_text{
        font-size: 32px;
    }
    .main-block__text{
        font-size: 28px;
        display: none;
    }
    .main-block__buttons {
        position: absolute;
        top: 70%;
        left: 20%;
    }

    .button-about{
        left: 15%;
    }

    /*-------------------------------services-----------------------------------------*/
    .service-block{
        width: 300px;
        height: 448px;
        margin-right: 20px;
    }
    .services__title-text{
        margin-bottom: 5px;
        font-size: 16px;
    }
    .services__item_text{
        min-height: 120px;
        width: 260px;
        margin-right: 10px;
        font-size: 14px;
    }
    .services__item-image {
        width: 250px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    .services__item-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .button_block{
        width: 255px;
    }
    /*-------------------------------contacts-----------------------------------------*/
    .curves_contact{
        margin-bottom: 200px;
        margin-top: -250px;
    }
    .contact-container{
        margin-top: -450px;
    }
    .contact_block:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
    .contact-list {
        width: 300px;
        margin: 0 auto;
    }
    .left_block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 65px;
        margin-right: 85px;
    }
}